version: '3'
services:
  mongodb:
    image: library/mongo:4.2-bionic
    container_name: 'modulehandbook-mongo'
    environment:
      - MONGO_INITDB_DATABASE=
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=
    volumes:
      - ./mongo/data:/data/db
    ports:
      - 27017-27019:27017-27019
  module-handbook-node:
    container_name: modulehandbooknode
    restart: always
    build: .
    ports:
      - "3004:3004"
    links:
      - mongodb
    environment:
      - NODEPORT=3004
      - MONGODB_URI=mongodb://mongodb:27017/modulehandbook_db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
