
    <h1>About the Module Handbook</h1>

    <p>This application is an example application for a web development course held at the HTW Berlin:</p>
    <ul>
        <li>Sommersemester 2020: <a href="http://home.htw-berlin.de/~kleinen/classes/ss2020/wtat1/">WTAT1</a></li>
        <li>Source Code on GitHub: <a href="https://github.com/htw-imi-wtat1/module-handbook">https://github.com/htw-imi-wtat1/module-handbook</a></li>
    </ul>

    <% if (typeof query !== 'undefined') { %>
    You searched for <%= JSON.stringify(query) %>
    <% } %>

