<p>Course.</p>
<p><%= JSON.stringify(fields) %></p>
<p><%= notice %></p>
<table>
    <% fields.forEach( field => { %>
    <tr><td><%= field %></td><td><%= course[field] %></td></tr>
    <% }); %>
</table>