<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Module Handbook</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/module_handbook.css">
	<script src="/jquery.min.js"></script>
	<!--<script src="/popper.js"></script>-->
	<script src="/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Module Handbook</h1>
		</div>
		<%- include('partials/navigation.ejs'); %>

	</div>

	<%- body %>

</body>

</html>
