<li class="nav-item <% if (currentPath == path) { %>active<% } %>">
    <a class="nav-link <%= (typeof cssclass === 'undefined') ? "" : cssclass %>" href="<%= path %>"><%= text %>
        <% if (currentPath == path) { %><span class="sr-only">(current)</span><% } %>
    </a>
</li>