
    <div class = "container">
      <div></div>
      <div class="col-8">
        <form class="form-signin" action="/users/login" method="POST">
          <h2 class="form-signin-heading">Login:</h2>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" autofocus required>

    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" id="submitButton">Sign in</button>
    </div>
  </div>
</form>

      </div>
      <div></div>
    </div>