
    <h1>Modul&uuml;bersicht Internationale Medieninformatik</h1>
    <img src = "/images/imi-b-basisjahr.png" />
    <img src = "/images/imi-b-vertiefungsjahr.png" />
    <img src = "/images/imi-b-spezialisierungsjahr.png" />

